<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Contact</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="./Home.html">Home </a>
            <a href="./Contact-us.html">Contact</a>
            <a href="./Our-Services.html">services</a>
        </div>

        <h1>Contact me :</h1>
        <div>
    <div class="logo">
        <img  src="/public/images/fb.jpg" alt=""/>
    
        <img src="/public/images/insta.jpg" alt=""/>
    
        <img  src="/public/images/mail.jpg" alt=""/>

    </div>

    <div class="h3"> 
        <h3>Hend Chaffar</h3>
    </br>
        <h3>Hend Chaffar </h3>
    </br>
        <h3>chaffarhend1@gmail.com</h3>
    </div>
</div>
    </body>
</html>