<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Home</title>
        

        <link rel="stylesheet" type="text/css" href="/css/style.css" />

    </head>
    <body>
        <div class="topnav">

            <a class="active" href="./Home.html">Home </a>
            <a href="./Contact-us.html">Contact</a>
            <a href="./Our-Services.html">services</a></br>       

        </div>


        <div align="center">
        </br></br>
    
            <img class="img" src="/images/home.png" alt=""/>
            <h3> Hend chaffar<br />A Full-Stack JS Developer</h3>
        
        </div>
        

        
    </body>
</html>